
<div class="contactUsForm">
  <form>
    <label for="name">Name:</label>
      <input type="text" id="name"  placeholder="Your name">

    <label for="email">Email:</label>
      <input type="text" id="email"  placeholder="Your Email">

    <label for="subject">Message:</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

<div class="footer"> 
  <h2>Contact</h2>
  <p>Get in touch!</p>
  <p>gamecritic@gmail.com</p>
  <p>(807) 225-2312</p>
  <p>You can also visit our contact page!</p>
</div>


