
<header class="header">
     <h1 class="site-title">Drew Zurevinski</h1>
     <nav class="nav">
          <a href="#" class="menu-toggle">Menu</a>
          <div class="nav">
               <ul class="menu">
                    <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">About Me</a></li>
                    <li class="menu-item has-submenu"><a href="#" class="menu-link">Commisions<span class="caret">﹀</span></a>
                         <ul class="sub-menu"> 
                              <li class="menu-item"><a href="#" class="menu-link">Logos</a></li>
                              <li class="menu-item"><a href="#" class="menu-link">Websites</a>
                              <li class="menu-item"><a href="#" class="menu-link">Commercials</a></li>
                              <li class="menu-item"><a href="#" class="menu-link">Animations</a>
                              <li class="menu-item"><a href="#" class="menu-link">Photography</a>
                         </ul>
                    </li>
                    <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
               </ul>
          </div>
     </nav>
</header>