body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
    
}

/* Home Page Image css */

.game-Div img {
     width: 30%;
     height: 10%;   
     padding-top: 2rem;
     padding-left: 2rem;
}
.game-Div{
     display: flex;
     padding-bottom: 4rem;
     
}
.starsAndText p {
     padding-top: 2rem;
     padding-left: 2rem;
     font-size: 1.5em;
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: normal;
     line-height: 1.4em;
}
.starsAndText h1 {
     padding-top: 2rem;
     padding-left: 2rem;
}
.stars {
     display: flex;
     width: 20%;
}
.starsText {
     padding-left: 2rem;
     display: flex;
     align-items: center;
     color:#bf1313;
     font-size: 2rem;
     font-weight: bold;
}
.sub-title{
     padding-left: 2rem;

}



/* Navigation CSS */

.header {
     background-color: rgb(255, 255, 255);
     color: #bf1313;
     display: flex;
     align-items: center;
     padding-right: 7vw;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

.site-title{
     margin: 0;
     font-size: 4rem;
}
.nav {
     margin-left: auto;
}
.menu {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
}
.menu-link {
     color :#bf1313;
     text-decoration: none;
     padding: 1em;
     display: block;
     transition: background-color 300ms;

     /*forces text to stay on a single line*/
     white-space: nowrap;
}
.menu-link:hover {
     background-color:#bf1313;
     color :white;
}

.menu-toggle {
     display: none;
     padding: 0.6em 1em;
     margin: 5px 0;
     color: #bf1313;
     text-decoration: none;
     border: 1px solid #999999;
     border-radius: 3px;
}


/* About Page */
.aboutPage {
margin: 3em

}
.aboutPage img{
height: 30em;
border-radius: 100%;


}
.aboutPage p{
     padding-left: 2rem;
     font-size: 1.3em;
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: normal;
     line-height: 1.4em;
}
.aboutPage h2{
     margin: 0;
     padding-left: 2rem;
     font-size: 2.4em;
     font-family: "Roboto", sans-serif;
     font-weight: 600;
     font-style: normal;
     line-height: 1.4em;
}
.Joe-Div{
     align-items: center;
     padding-top: 2rem;
     display: flex;
}

.Irene-Div{
     align-items: center;
     padding-top: 2rem;
     display: flex;
     padding-left:0;
}
.Ray-Div{
     align-items: center;
     padding-top: 2rem;
     display: flex;
}

.about-Page-Div{
     
}





.contactPage {
     padding: 2rem 4rem 0rem 4rem;
}

.entirePage{
     padding: 4rem;
}

.header {
     margin: 0;
     padding: 0;
     background-color: #f2f2f2;
     padding: 4rem;
     outline: 8px solid #aa0404;
        
}













/* w3 schools contact page ferda */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px; 
     box-sizing: border-box; 
     margin-top: 6px; 
     margin-bottom: 16px;
     resize: vertical 
   }
   
   /* Style the submit button with a specific background color etc */
   input[type=submit] {
     background-color: #aa0404;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   
   /* When moving the mouse over the submit button, add a darker green color */
   input[type=submit]:hover {
     background-color: #ff2d2de5;
   }
   
   /* Add a background color and some padding around the form */
   .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
     margin-left: 4rem;
     margin-right: 4rem;
     margin-bottom: 4rem;
   }



































@media screen and (max-width: 820px) {
     .header {
          padding: 0 4vw;
     }
     .menu-toggle {
          display: block;
     }
     .menu {
          position:absolute;
          display: block;
          background-color: #222222;
          left: 0;
          width: 100%;
          display: none;
     }
     .sub-menu{
          position: static;
          background-color: #393939;

     }
     .menu.open {
          display: block;
     }
}


